.user-profile {
  h4 {
    text-align: center;
  }

  .edit-button {
    display: flex;
    justify-content: center;
  }

  .title {
    font-weight: bold;
  }

  .add-address {
    margin-top: 30px;

    h3 {
      text-align: center;
      font-weight: bold;
    }

    h4 {
      text-align: center;
    }    
  }

  .marker-popup {
    color: blue;
    font-size: 20px;
  }

  animation: user-fade 0.5s;
}